<nav class="bg-slate-800/80 backdrop-blur-md text-slate-200">
  <div class="w-full flex justify-between items-center px-4 py-4 min-h-20">
    
    <a href="/" class="flex items-center gap-2 h-full">
      <img src="logo-transparent.png" alt="Logo" class="h-full max-h-23 w-auto object-contain" />
      <span class="text-xl font-bold text-white">C.A.R CFR SUCEAVA</span>
    </a>

    <div class="hidden md:flex items-center gap-2">
      <a href="/" class="px-4 py-2 rounded-full hover:bg-slate-700 hover:text-amber-500 hover:-translate-y-0.5 inline-block transition-all duration-200">Acasă</a>
      <a href="/despre" class="px-4 py-2 rounded-full hover:bg-slate-700 hover:text-amber-500 hover:-translate-y-0.5 inline-block transition-all duration-200">Despre</a>
      <a href="/servicii" class="px-4 py-2 rounded-full hover:bg-slate-700 hover:text-amber-500 hover:-translate-y-0.5 inline-block transition-all duration-200">Servicii</a>
      <a href="/servicii" class="px-4 py-2 rounded-full hover:bg-slate-700 hover:text-amber-500 hover:-translate-y-0.5 inline-block transition-all duration-200">Documente</a>
      <a routerLink="/contact" class="px-4 py-2 rounded-full hover:bg-slate-700 hover:text-amber-500 hover:-translate-y-0.5 inline-block transition-all duration-200">Contact</a>
    </div>

    <button class="md:hidden text-white">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
      </svg>
    </button>

  </div>
</nav>